
.add-notes-container {
  margin: 20px;
  
  background-color: #323b19; 
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(50, 13, 13, 0.1);
  font-size: 19px;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.add-notes-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fefae0;
}

.add-notes-container label {
  display: block;
  margin-bottom: 5px;
  color: #fefae0;
}

.add-notes-container input[type='text'],
.add-notes-container .react-datepicker-wrapper {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #fefae0;
  border-radius: 4px;
}

.add-notes-container .react-datepicker-wrapper {
  display: block;
  font-size: 19px;
}

.add-notes-container button {
  padding: 8px 20px;
  margin-top: 10px;
  color: #1c1a10;
  font-size: 15px;
  font-style: oblique;
  background-color: #7993af;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.add-notes-container button:hover {
  background-color: #a0b1c3;
}

.note-list {
  list-style: none;
  padding: 0;
}

.note-item {
  margin-top: 15px;
  padding: 15px;
  background-color: #fefae0;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.note-item button {
  margin-left: 10px;
  padding: 5px 10px;
  color: #fefae0;
  background-color: #dc3545;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.note-item button:hover {
  background-color: #c82333;
}


@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.note-item-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.note-item-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}
.add-notes-container h3 {
  color: #fff; 
}
