
.exercise-detail {
  background-color: #323b19; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(5, 0, 0, 0.1);
    color: white;
  }
  
  .exercise-detail h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: aliceblue;
  }
  
  .exercise-detail p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: aliceblue;
  }
  .exercise-demo iframe {
    width: 20%;
    height: 200px;
    color: aliceblue;
  }
  .exercise-detail a{
    color: rgb(12, 10, 10);
    text-decoration: none;
    font-weight: bold;
    }
 
  .exercise-detail a:hover {
  
  color: #ffcc00;
}

  @media only screen and (max-width: 600px) {
    .exercise-detail {
      padding: 10px;
    }
  }