
.exercise-schedule {
  text-align: center;
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #323b19; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.exercise-schedule h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #ffffff;
}
.exercise-schedule a{
color: white;
}
.rbc-calendar {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.rbc-row-segment {
  background-color: #f0f0f0;
}

.exercise-schedule h2 {
  font-size: 1.5em;
  margin-top: 20px;
  color: #ffffff;
}

.exercise-schedule ul {
  list-style: none;
  padding: 0;
}

.exercise-schedule li {
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.exercise-schedule li button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.exercise-schedule li button:hover {
  background-color: #c0392b;
}
