


.navbar-nav .nav-link {
  color: #351111;
  margin-right: 15px; 
  transition: color 0.3s ease-in-out; 
  font-size: 19px;
}
.nav-link:hover,
.nav-link:focus {
  color: #361818;
  text-decoration: none;
}
.navbar-nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.navbar {
  background-color: #1f2217; 
}

.navbar-brand,
.nav-link {
  color: #fff !important; 
  text-decoration: none;
}

.nav-link:hover {
  color: #99a965 !important; 
}


