
.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    
  }
  
  .notification-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .input-style {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .button-style {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .notification-list {
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  
  .notification-item {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .notification-item.approaching {
    background-color: #cccccc; /* Example color for approaching notifications */
  }
  
  .notification-name {
    font-weight: bold;
    margin-right: 10px;
    font-size: 19px;
    color: #ffffff;
  }
  
  .notification-time {
    color: #ffffff;
    font-size: 16px;
  }
  
  .notification-message {
    font-style: italic;
    color: #ffffff;
    font-size: 14px;
  }
  .notification-item {
    color: white; 
  }
  .notification-list h2 {
    color: white;
  }